<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>output <form action=""></form></title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">


    <style>
      table,th,td {
        border: 1px solid black;
      }
      body{
        margin-top: 100px;
      }
      @page {
        @bottom-center {
          content: "Page " counter(page);
        }
      }
      
    </style>
   

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 style="text-align: center;">TAX INVOICE</h1>
            </div>
        </div>
    </div>
<br><br>
   
     <div class="row">
        <div class="col-md-6 col-sm-6 text-left ">
            <h4><strong>Invoice details</strong></h4>
            <ul style="list-style-type:none;">
                <li>
                    <strong>GST no:</strong> {{mat.mat_gst_code}}
                </li>
                <li>
                    <strong>Reverse charge:</strong>
                </li>
                <li>
                    <strong>Invoice Number:</strong> {{odc1.gcn_no}} / {{odc1.fin_year}}
                </li>
                <li>
                    <strong>Invoice Date:</strong> {{odc1.gcn_date}}
                </li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-6 text-right">
            <h4><strong>Transportation Mode</strong></h4>
                <ul style="list-style-type:none;">
        
                        <li>
                            <strong>PO No:</strong> {{odc1.po_no}}
                        </li>
                        <li>
                            <strong>PO Date:</strong> {{odc1.po_date}}
                        </li>
                        <li>
                            <strong>DC No:</strong> {{odc1.grn_no}}
                        </li>
                        <li>
                            <strong>DC Date:</strong> {{odc1.grn_date}}
                        </li>
                        <li>
                            Date of Supply:{{odc1.gcn_date}}
                        </li>
                        <li>
                            <strong>Place of Supply:</strong>Ex-works,Banglore
                        </li>
                </ul>
               
            </div>
                
    </div>
  
    <div class="row">
        <div class="col-md-6 col-sm-6 text-left">
            <h5><strong>Details of Receiver(Billed to)</strong></h5>        
              <ul style="list-style-type:none;">
                <li>
                  <strong>Name: </strong>{{cust.cust_name}}
                 
                </li>
                <li>
                  <strong>Address: </strong>{{cust.cust_address}}
                  
                </li>
                <li>
                  <strong>State: </strong>{{cust.cust_st_name}}
                 
                </li>
                <li>
                  <strong>State code: </strong>{{cust.cust_st_code}}
                 
                </li>
                <li>
                  <strong>GST No: </strong>{{cust.cust_gst_id}}
                  
                </li>
              </ul>      
        </div>
    
        <div class="col-md-6 col-sm-6 text-right">
                    <h5><strong>Details of Consignee(Shipped to)</strong></h5>
                    <ul style="list-style-type:none;">
                        <li>
                          <strong>Name: </strong>{{cust.cust_name}}
                         
                        </li>
                        <li>
                          <strong>Address: </strong>{{cust.cust_address}}
                          
                        </li>
                        <li>
                          <strong>State: </strong>{{cust.cust_st_name}}
                         
                        </li>
                        <li>
                          <strong>State code: </strong>{{cust.cust_st_code}}
                         
                        </li>
                        <li>
                          <strong>GST No: </strong>{{cust.cust_gst_id}}
                          
                        </li>
                      </ul>      
            </div>
                  
     </div>   

                    <table class="table table-hover border border-secondary">
                       
                        <tr>
                            <th><label>Sl.no</label></th>
                            <th>Description of Services</th>
                            <th>PO Item Sl.No</th>
                            <th>SAC Code</th>
                            <th>QTY</th>
                            <th>UOM</th>
                            <th>Rate</th>
                            <th>Total</th> 
                            <th colspan="2" style="text-align:center">CGST</th>
                            <th colspan="2" style="text-align:center">SGST</th>
                            <th colspan="2" style="text-align:center">IGST</th>
                        </tr>
                        
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Rate(%)</td>
                            <td>Amount</td>
                            <td>Rate(%)</td>
                            <td>Amount</td>
                            <td>Rate(%)</td>
                            <td>Amount</td>

                          </tr>

                          <tr>
                            <td></td>
                            <td>Exterior painting of :</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Rs.</td>
                            <td>Rs.</td>
                            <td></td>
                            <td>Rs.</td>
                            <td></td>
                            <td>Rs.</td>
                            <td></td>
                            <td>Rs.</td>

                          </tr>
                         <div>
                        
                          {% for record in odc %}
                            <tr>
                                <td>{{record.po_sl_no}}</td>
                                <td>{{record.part_name}}</td>
                                <td>{{record.po_sl_no}}</td>
                                <td>9988</td>
                                <td style="text-align: right;">{{record.qty_delivered}}</td>
                                <td>{{record.uom}}</td>
                                <td>{{record.unit_price}}</td>
                                <td style="text-align: right;">{{record.taxable_amt}}</td>
                                <td>{{gr.cgst_rate}}</td>
                                <td style="text-align: right;">{{record.cgst_price}}</td>
                                <td>{{gr.sgst_rate}}</td>
                                <td style="text-align: right;">{{record.sgst_price}}</td>
                                <td>{{gr.igst_rate}}</td>
                                <td style="text-align: right;">{{record.igst_price}}</td>
                            </tr>
                            {% endfor %}
                         </div>
                         <tr>
                            <td>  </td>
                            <td>  </td>
                            <td colspan="2"> Total:</td>
                            <td style="text-align: right;">{{total_qty}}</td>
                            <td>Nos</td>
                            <td>  </td>
                            <td style="text-align: right;">{{total_taxable_value}}</td>
                            <td>  </td>
                            <td style="text-align: right;">{{total_cgst}} </td>
                            <td>  </td>
                            <td style="text-align: right;"> {{total_sgst}} </td>
                            <td> </td>
                            <td style="text-align: right;">{{total_igst}} </td>
                           
                        </tr>
                    </table>          

                     <table class="table table-striped ">
<!--                      
                        <tr>
                            <td>  </td>
                            <td>  </td>
                            <td colspan="2"> Total:</td>
                            <td>{{total_qty}}</td>
                            <td>Nos</td>
                            <td>  </td>
                            <td>{{total_taxable_value}}</td>
                            <td>  </td>
                            <td>{{total_cgst}} </td>
                            <td>  </td>
                            <td> {{total_sgst}} </td>
                            <td> </td>
                            <td>{{total_igst}} </td>
                           
                        </tr>
                        -->
                            <tr>
                                <td style="text-align: center;"colspan="10">INVOICE VALUE(in Words) <br>
                                    
                                      <strong>{{amount}}</strong> 
                                   
                                  </td>
                                
                              <td style="text-align:center;"colspan="5">Total : {{grand_total}}</td>
                              
                            </tr> 
                       
            </table>


                <div class="col-12">
                    <h6 style="text-align: center;">Certified that the Particulars given above are correct</h6>
                </div>

            <div class="container-fluid">
              <table class="table">
                <tbody>
                  <tr>
                    <td colspan="2" class="text-center"><h4>TERMS AND CONDITIONS OF SALE</h4>
                      <hr>
                      <strong>Our Bankers (NEFT/RTGS details):</strong>
                      <ul class="list-unstyled">
                        <li>STATE BANK OF INDIA, NRI Hebbal Branch</li>
                        <li>A/c N. 41482639882</li>
                        <li>IFSC Code: SBIN0016858</li>
                      </ul>
                    </td>
                   
                    <td> <h4 class="text-center"> FOR MATCON ENGINEERING ENTERPRISES</h4>
                      <hr>
                      <ul class="list-unstyled">
                        <li>
                          <form>
                            <label for="signature"><strong>Signature:</strong></label>
                            <textarea id="signature" class="form-control" rows="2" cols="50"></textarea>
                          </form>
                        </li>
                        <li><strong>Name:</strong> K V Sivaramkrishnan</li>
                        <li><strong>Designation:</strong> GENERAL MANAGER (FINANCE)</li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<br><br>
<footer><strong>MATCON/FORMS/021/00</strong></footer>

  </body>
</html>
