
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://images.pexels.com/photos/6105553/pexels-photo-6105553.jpeg?auto=compress&cs=tinysrgb&w=600");
    /* background-image: url("https://images.pexels.com/photos/6105553/pexels-photo-6105553.jpeg?auto=compress&cs=tinysrgb&w=600"); */
  background-size: cover;
  background-position: center;
}

.app form {
  overflow: hidden;
  background-color: white;
  padding: 0px 60px;
  border-radius: 10px;
}

.logo {
  width: 200px; /* Set the width of your logo */
  height: 50px; /* Set the height of your logo */
  position: absolute;
  top: 20px; /* Adjust this value to control the distance from the top */
  left: 20px; /* Adjust this value to control the distance from the right */
}

@media (max-height: 100vh) {
  .app form {
      overflow-y: scroll;
      max-height: 100vh; 
  }
}


h1{
    color: black;
    text-align: center;
}

button{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}