<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVOICE</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    
    <style>
      .table,th,td {
        border: 1px solid black;
        padding: 10px;
        table-layout: fixed;
        width: 100%;
      }
     *{overflow: hidden;}
      th[colspan], td[colspan] {
        border-right: 1px solid black; 
      }
      body {
        margin: 0;
        padding:0;
        font-size: 12px;
        margin-top: 100px;
    }
      .tab{
        tab-size: 8;
      }
    
      @page {
        @bottom-center {
          content: "Page " counter(page);
        }
      }
    </style>
</head>
<body >
  <div id="invoice">

 
    <div class="container" >
        <div class="row">
            <div class="col-12">
                <h5 style="text-align: center;">TAX INVOICE</h5>
            </div>
        </div>
    </div>

    <br><br>
   
     <div class="row">
        <div class="col-md-6 col-sm-6 text-left ">
            <h6><strong>Invoice details</strong></h6>
            <ul style="list-style-type:none;">
                <li>
                    <strong>GST No:</strong> {{mat.mat_gst_code}}
                </li>
                <li>
                    <strong>Reverse charge:</strong> N.A
                </li>
                <li>
                    <strong>Invoice Number:</strong> {{odc1.gcn_no}}/{{odc1.fin_year}}
                </li>
                <li>
                    <strong>Invoice Date:</strong> {{odc1.gcn_date}}
                </li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-6 text-right">
            <h6><strong>Transportation Mode</strong> : Road</h6>
                <ul style="list-style-type:none;">
        
                        <li>
                            <strong>PO No:</strong> {{odc1.po_no}}
                        </li>
                        <li>
                            <strong>PO Date:</strong> {{odc1.po_date}}
                        </li>
                        <li>
                            <strong>GRN No:</strong> {{odc1.grn_no}}
                        </li>
                        <li>
                            <strong>GRN Date:</strong> {{odc1.grn_date}}
                        </li>
                        <li>
                          <strong>Date of Supply:</strong> {{odc1.gcn_date}}
                        </li>
                        <li>
                            <strong>Place of Supply: </strong>Ex-works,Banglore
                        </li>
                </ul>
          </div>    
    </div>
  
    <div class="row">
        <div class="col-md-6 col-sm-6 text-left">
            <h6><strong>Details of Receiver(Billed to)</strong></h6>        
              <ul style="list-style-type:none;">
                <li>
                  <strong>Name: </strong>{{cust.cust_name}}
                 
                </li>
                <li>
                  <strong>Address: </strong>{{cust1.cust_addr1}} <br>{{cust1.cust_addr2}} 
                  
                </li>
                <li>
                  
                
              </li>
              <li>
                 {{cust1.cust_city}}-{{cust.cust_pin}} 
                
              </li>
                <li>
                  <strong>State: </strong>{{cust.cust_st_name}}
                 
                </li>
                <li>
                  <strong>State Code: </strong>{{cust.cust_st_code}}
                 
                </li>
                <li>
                  <strong>GST No: </strong>{{cust.cust_gst_id}}
                  
                </li>
              </ul>      
        </div>
    
        <div class="col-md-6 col-sm-6 text-right">
                    <h6><strong>Details of Consignee(Shipped to)</strong></h6>
                    <ul style="list-style-type:none;">
                        <li>
                          <strong>Name: </strong>{{cust1.cust_name}}
                         
                        </li>
                        <li>
                          <strong>Address: </strong>{{cust1.cust_addr1}} 
                          
                        </li>
                        <li>
                        {{cust1.cust_addr2}} 
                        <!-- &emsp; &emsp; &emsp; &emsp; -->
                        </li>
                        <li>
                           {{cust1.cust_city}}-{{cust.cust_pin}} 
                          
                        </li>
                        <li>
                          <strong>State: </strong>{{cust1.cust_st_name}}
                         
                        </li>
                        <li>
                          <strong>State Code: </strong>{{cust1.cust_st_code}}
                         
                        </li>
                        <li>
                          <strong>GST No: </strong>{{cust1.cust_gst_id}}
                          
                        </li>
                      </ul>      
           </div>   
     </div>   
                  <div class="container-fluid">
                    <table class="table table-hover border border-secondary container-fluid">
                     
                        <tr>
                            <th><label>Sl.no</label></th>
                            <th>Description of Services</th>
                            <th>PO Item Sl.No</th>
                            <th>SAC Code</th>
                            <th>QTY</th>
                            <th>UOM</th>
                            <th>Rate</th>
                            <th>Total</th> 
                            <th>CGST Rate (%)</th>
                            <th>CGST Amount (Rs)</th>
                            <th>SGST Rate (%)</th>
                            <th>SGST Amount (Rs)</th>
                            <th>IGST Rate (%)</th>
                            <th>IGST Amount (Rs)</th>
                        </tr>
  
                          <tr>
                            <td></td>
                            <td>Exterior painting of :</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td ></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>

                       <div>
                          {% for record in odc %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{record.part_name}}</td>
                                <td>{{record.po_sl_no}}</td>
                                <td>9988</td>
                                <td style="text-align: right;">{{record.qty_delivered}}</td>
                                <td>{{record.uom}}</td>
                                <td>{{record.unit_price|floatformat:2}}</td>
                                <td style="text-align: right;">{{record.taxable_amt|floatformat:2}}</td>
                                <td style="text-align: center;">
                                  {% if cust.cust_st_code == 29 %}
                                    {{ gr.cgst_rate }}
                                    {% else %}
                                   
                                  {% endif %}
                                </td>
                                <td style="text-align: right;">
                                  {% if cust.cust_st_code == 29 %}
                                    {{ record.cgst_price|floatformat:2 }}
                                    {% else %}
                                   
                                  {% endif %}
                                </td>
                                <td style="text-align: center;">
                                  {% if cust.cust_st_code == 29 %}
                                    {{ gr.sgst_rate }}
                                    {% else %}
                                    
                                  {% endif %}
                                </td>
                                <td style="text-align: right;">
                                  {% if cust.cust_st_code == 29 %}
                                    {{ record.sgst_price|floatformat:2}}
                                  {% else %}
                                    
                                  {% endif %}
                                </td>
                                <td style="text-align: center;">
                                  {% if cust.cust_st_code == 29 %}
                                    
                                  {% else %}
                                    {{ gr.igst_rate }}
                                  {% endif %}
                                </td>
                                <td style="text-align: right;">
                                  {% if cust.cust_st_code == 29 %}
                                   
                                  {% else %}
                                    {{ record.igst_price|floatformat:2 }}
                                  {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                      </div>
                         <tr>
                            <td>  </td>
                            <td>  </td>
                            <td colspan="2"> Total:</td>
                            <td style="text-align: right;">{{total_qty}}</td>
                            <td>Nos</td>
                            <td>  </td>
                            <td style="text-align: right;">{{total_taxable_value}}</td>
                            <td>  </td>
                           
                            <td style="text-align: right;">
                              {% if cust.cust_st_code == 29 %}
                                {{ total_cgst|floatformat:2 }}
                                {% else %}
                               
                              {% endif %}
                            </td>
                            <td>  </td>
                            
                            <td style="text-align: right;">
                              {% if cust.cust_st_code == 29 %}
                                {{ total_sgst|floatformat:2 }}
                                {% else %}
                                
                              {% endif %}
                            </td>
                            <td> </td>
                           
                            <td style="text-align: right;">
                              {% if cust.cust_st_code == 29 %}
                               
                              {% else %}
                                {{total_igst|floatformat:2}}
                              {% endif %}
                            </td>
                        </tr>
                    </table> 
                  </div>           
                    <div class="container-fluid">
                     <table class="table table-striped ">
                            <tr>
                                <td style="text-align: center;"colspan="10">INVOICE VALUE(in Words) <br>
                                    <strong>{{amount}}</strong> 
                                </td>
                              <td style="text-align:center;"colspan="5">Total : {{gt}}</td>
                            </tr>                        
                      </table>
                    </div>
                <div class="col-12">
                    <h6 style="text-align: center;">Certified that the Particulars given above are correct</h6>
                </div>

            <div class="container-fluid">
              <table class="table">
                <tbody>
                  <tr>
                    <td colspan="2" class="text-center"><h6>TERMS AND CONDITIONS OF SALE <br> </h6>AS PER PO TERMS
                  <hr>
                      <strong>Our Bankers (NEFT/RTGS details):</strong>
                      <ul class="list-unstyled">
                        <li>{{mat.bank_name}}, {{mat.bank_address}}</li>
                        <li>A/c N. {{mat.bank_acc_no}}</li>
                        <li>IFSC Code: {{mat.ifsc_code}}</li>
                      </ul>
                    </td>
                   
                    <td> <h6 class="text-center"> FOR MATCON ENGINEERING ENTERPRISES</h6>
                      <hr>
                      <ul class="list-unstyled">
                        <li>
                          <form>
                            <label for="signature"><strong>Signature:</strong></label>
                            <textarea id="signature" class="form-control" rows="2" cols="50"></textarea>
                          </form>
                        </li>
                        <li><strong>Name:</strong> K V Sivaramkrishnan</li>
                        <li><strong>Designation:</strong> GENERAL MANAGER (FINANCE)</li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<br><br>
<footer><strong>MATCON/FORMS/021/00</strong></footer>
</div>

</body>
</html>
